@import 'tailwindcss';

@theme {
  /* Color variables */
  --color-brand-50: #fafafa;
  --color-brand-100: #f2f2f2;
  --color-brand-200: #d6d6d6;
  --color-brand-300: #b8b8b8;
  --color-brand-400: #a3a3a3;
  --color-brand-500: #5c5c5c;
  --color-brand-600: #474747;
  --color-brand-700: #333333;
  --color-brand-800: #292929;
  --color-brand-900: #1f1f1f;
  --color-brand-950: #141414;
  --color-alt-1: #d83232;
  --color-alt-2: #ab2121;

  /* Font Variables */
  --font-body: var(--font-geist);
  /* Clamps go from 1024px to 640px */
  /* Text Variables */
  --text-title-lg: clamp(3rem, 1.3333rem + 4.1667vw, 4rem);
  --text-title-md: clamp(1.75rem, -0.3333rem + 5.2083vw, 3rem);
  --text-title-sm: clamp(1.5rem, 0.25rem + 3.125vw, 2.25rem);
  --text-title-xs: clamp(1.25rem, 0.2083rem + 2.6042vw, 1.875rem);
  --text-body-lg: clamp(1.125rem, 0.5rem + 1.5625vw, 1.5rem);
  --text-body-md: clamp(1rem, 0.7917rem + 0.5208vw, 1.125rem);
  --text-body-sm: clamp(0.75rem, 0.5417rem + 0.5208vw, 0.875rem);

  /* Clamps go from 1024px to 640px */
  /* Spacing variables */
  --spacing-page: clamp(1rem, -2.3333rem + 8.3333vw, 3rem);
  --spacing-gutter: clamp(1.5rem, -0.1667rem + 4.1667vw, 2.5rem);
  --spacing-double: calc(var(--spacing-page) * 2);
  --spacing-section-lg: clamp(7.5rem, 3.3333rem + 10.4167vw, 10rem);
  --spacing-section-md: clamp(5rem, 3.3333rem + 4.1667vw, 6rem);
  --spacing-section-sm: clamp(3rem, 1.3333rem + 4.1667vw, 4rem);
}

@custom-variant aria-page (&[aria-current="page"]);
@custom-variant aria-current (&[aria-current="true"]);
@custom-variant aria-expanded (&[aria-expanded="true"]);
@custom-variant data-open (&[data-open="true"]);

/* View transitions */
@view-transition {
  navigation: auto;
}

nav {
  view-transition-name: nav;
}

body {
  @apply font-body text-brand-950 bg-white tracking-tight;
}

h1,
h2 {
  @apply leading-tight font-medium;
}

p {
  @apply leading-relaxed;
}

.no-scrollbars {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.no-scrollbars::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
