@import 'tailwindcss';

@theme {
  /* Color variables */
  --color-brand-50: #e9f4ff;
  --color-brand-100: #ceefff;
  --color-brand-200: #a7e2ff;
  --color-brand-300: #6bceff;
  --color-brand-400: #27b7ff;
  --color-brand-500: #009fff;
  --color-brand-600: #0275ff;
  --color-brand-700: #015aff;
  --color-brand-800: #004ce7;
  --color-brand-900: #0046b4;
  --color-brand-950: #001331;

  /* Font Variables */
  --font-body: var(--font-geist);

  /* Text Variables */
  --text-title-sm: clamp(2rem, 2.05rem + 0.5vw, 2.5rem);
  --text-title-md: clamp(2.25rem, 2.1rem + 1vw, 3rem);
  --text-title-lg: clamp(2.25rem, 1.45rem + 2vw, 3.25rem);
  --text-body-sm: clamp(0.875rem, 0.625rem + 0.625vw, 1rem);
  --text-body-md: clamp(1rem, 0.5rem + 1.25vw, 1.25rem);
  --text-body-lg: clamp(1.25rem, 0.75rem + 1.25vw, 1.5rem);

  /* Spacing variables */
  /* Clamps go from 1440px to 640px */
  --spacing-page: clamp(1rem, 0.2rem + 2vw, 2rem);
  --spacing-gutter: clamp(1.5rem, 1.1rem + 1vw, 2rem);
  --spacing-double: calc(var(--spacing-page) * 2);
  --spacing-section-lg: clamp(7.5rem, 5.5rem + 5vw, 10rem);
  --spacing-section-md: clamp(5rem, 4.2rem + 2vw, 6rem);
  --spacing-section-sm: clamp(3rem, 2.5rem + 1vw, 4rem);
}

@custom-variant aria-current (&[aria-current="page"]);
@custom-variant data-open (&[data-open="true"]);

/* View transitions */
@view-transition {
  navigation: auto;
}

nav {
  view-transition-name: nav;
}

body {
  @apply font-body text-brand-950 bg-white tracking-tight;
}

h1,
h2,
h3,
h4 {
  @apply leading-tight font-medium;
}

p {
  @apply leading-relaxed;
}

.no-scrollbars {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.no-scrollbars::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
