---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout
  title="La Postre Shop"
  description="Ordena un pastel y recogelo en tu sucursal de La Postre de preferencia."
>
  <Section tag="header">
    <button>Generate Token</button>
  </Section>
</Layout>

<script>
  import { actions } from "astro:actions";

  const button = document.querySelector("button");
  button?.addEventListener("click", async () => {
    // Show alert pop-up with greeting from action
    const { data, error } = await actions.sessions.create();
    if (!error) alert(data);
  });
</script>
