---
if (!Astro.locals.session) return Astro.redirect("/login");

import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout
  title="La Postre Shop"
  description="Ordena un pastel y recogelo en tu sucursal de La Postre de preferencia."
>
  <Section tag="header">
    <h1 class="capitalize">
      Hola {Astro.locals.user?.name}
    </h1>
  </Section>
</Layout>
