---
import Layout from '../layouts/Layout.astro'

import { Image } from 'astro:assets'

import heroImage from '../assets/images/hero.png'
---

<Layout
  description="We provide homes in Georgia with advanced property restoration using cutting-edge nanotechnology."
>
  <main class="grow">
    <header
      class="bg-brand-950 gap-gutter grid min-h-screen text-white md:grid-cols-2"
    >
      <div
        class="px-page flex flex-col items-start justify-center pt-20 md:pt-24"
      >
        <h1 class="text-title-lg mb-4">
          Advanced nano-technology solutions for home restoration and cleaning.
        </h1>
        <p class="text-body-lg mb-8 font-light opacity-75">
          Our Georgia-based services use advanced technology that doesn’t just
          fix damage — it makes your property stronger, safer, and resistant to
          future threats.
        </p>
        <a
          href="/"
          class="bg-brand-700 w-full rounded-lg px-5 py-4 text-center leading-none text-white md:w-auto"
          >Get a Quote</a
        >
      </div>
      <Image
        src={heroImage}
        alt="Hero Image"
        class="h-full w-full object-cover"
      />
    </header>
    <!-- About Section -->
    <section id="about" class="min-h-96"></section>
    <!-- Services Section -->
    <section id="services" class="min-h-96"></section>
    <!-- Technology Section -->
    <section id="technology" class="min-h-96"></section>
    <!-- Testimonials Section -->
    <section id="testimonials" class="min-h-96"></section>
    <!-- Contact Section -->
    <section id="contact" class="min-h-96"></section>
  </main>
</Layout>
