---
if (Astro.locals.session) return Astro.redirect("/");

import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout
  title="Iniciar Sesión | La Postre Shop"
  description="Date de alta en La Postre Shop"
>
  <Section tag="header">
    <div class="mx-auto mt-24 max-w-xl">
      <form class="flex flex-col gap-1">
        <label for="email">E-mail</label>
        <input
          class="mb-4 min-h-9 rounded-sm px-4 text-dark focus:outline-brand"
          id="email"
          required
          type="email"
          name="email"
        />
        <label for="password">Password</label>
        <input
          class="mb-4 min-h-9 rounded-sm px-4 text-dark focus:outline-brand"
          id="password"
          required
          type="password"
          name="password"
        />
        <button
          class="mt-4 rounded-sm border border-light border-opacity-25 bg-light bg-opacity-5 px-4 py-2 hover:border-opacity-50 hover:bg-opacity-15"
          >Iniciar Sesión</button
        >
      </form>
      <p class="mt-4 text-center">
        ¿No tienes una cuenta?
        <a href="/signup" class="ml-1 text-brand">Crear Cuenta</a>
      </p>
    </div>
  </Section>
</Layout>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const { error } = await actions.users.login(formData);
    if (error) alert(error);
    else navigate("/");
  });
</script>
