---
import { tv, type VariantProps } from 'tailwind-variants/lite'
import type { HTMLAttributes } from 'astro/types'

const button = tv({
  base: 'font-semibold text-white text-sm py-1 px-4 rounded-full active:opacity-80 cursor-pointer',
  variants: {
    color: {
      primary: 'bg-blue-500 hover:bg-blue-700',
      secondary: 'bg-purple-500 hover:bg-purple-700',
      success: 'bg-green-500 hover:bg-green-700',
    },
  },
})

export interface Props
  extends HTMLAttributes<'button'>,
    VariantProps<typeof button> {
  color?: keyof typeof button.variants.color
}

const { color = 'primary', class: className } = Astro.props
---

<button class={button({ color, className })}><slot /></button>
