---

---

<footer
  class="mx-auto mt-auto flex max-w-7xl items-center justify-between px-16 py-4"
>
  <a href="/" class="font-medium">Minimal Astro Starter Template</a>
  <p class="text-gray-400">All rights reserved &copy; 2024</p>
</footer>
