---
const pathname = Astro.url.pathname;
let loggedIn: boolean;
let role: string | null;
if (Astro.locals.user) {
  loggedIn = true;
  role = Astro.locals.user.role;
} else {
  loggedIn = false;
  role = null;
}

import Button from "./ui/Button.astro";
import { Icon } from "astro-icon/components";
---

<nav class="mx-auto flex max-w-7xl items-center justify-between px-16 py-4">
  <a href="/" class="text-2xl font-medium"><Icon name="logo" /></a>
  <div class="flex items-center gap-4">
    {role === "admin" && <a href="/admin">Dashboard</a>}
    {
      loggedIn && pathname !== "/login" && pathname !== "/signup" && (
        <Button id="logout">Cerrar Sesión</Button>
      )
    }
    {
      !loggedIn && pathname !== "/login" && pathname !== "/signup" && (
        <Button href="/login" id="login">
          Iniciar Sesión
        </Button>
      )
    }
  </div>
</nav>

<script>
  import { actions } from "astro:actions";
  const logout = document.querySelector("#logout");
  if (logout) {
    logout.addEventListener("click", async () => {
      const { data, error } = await actions.users.logout();
      if (error) alert(error);
      else window.location.href = data.redirect;
    });
  }
</script>
