---
const { pathname } = Astro.url;

import Button from "./ui/Button.astro";
import { Icon } from "astro-icon/components";
---

<nav class="mx-auto flex max-w-7xl items-center justify-between px-16 py-4">
  <a href="/" class="text-2xl font-medium"><Icon name="logo" /></a>
  {
    pathname === "/login" || pathname === "/signup" ? null : (
      <Button id="logout">Cerrar Sesión</Button>
    )
  }
</nav>

<script>
  import { actions } from "astro:actions";
  const logout = document.querySelector("#logout");
  if (logout) {
    logout.addEventListener("click", async () => {
      const { data, error } = await actions.users.logout();
      if (error) alert(error);
      else window.location.href = data.redirect;
    });
  }
</script>
