---

---

<nav class="p-page gap-gutter flex items-center justify-between">
  <a
    href="/"
    class="rounded-md bg-sky-500 p-4 py-2 text-2xl font-medium text-white"
    >Astro Starter</a
  >
</nav>
