---
type Props = {
  tag?: "section" | "header";
};

const { tag = "section" } = Astro.props;
---

{
  tag === "header" ? (
    <section class="mx-auto max-w-7xl px-16 py-4">
      <slot />
    </section>
  ) : (
    <header class="mx-auto max-w-7xl px-16 py-4">
      <slot />
    </header>
  )
}
