---
const pathname = Astro.url.pathname;

interface Props {
  page: string;
}

const { page } = Astro.props;

// Component imports
import SideLink from "../components/ui/admin/SideLink.astro";
---

<div class="mx-auto grid max-w-7xl grid-cols-[280px_1fr] px-16">
  <div>
    <h1 class="text-2xl capitalize">{page}</h1>
    <menu class="mt-8">
      <SideLink href="/admin/pasteles" pathname={pathname} label="Pasteles" />
      <SideLink href="/admin/pedidos" pathname={pathname} label="Pedidos" />
    </menu>
  </div>
  <main>
    <slot />
  </main>
</div>
