---
// Check if user is authenticated
if (!Astro.locals.session) return Astro.redirect("/login");
if (Astro.locals.user?.role != "admin") {
  return Astro.redirect("/login");
}

// Set headers to prevent indexing
Astro.response.headers.set("X-Robots-Tag", "noindex, nofollow");

// Component Imports
import AdminLayout from "../../layouts/AdminLayout.astro";
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<AdminLayout>
  <DashboardLayout page="Dashboard">
    <p>
      Bienvenid@ al dashboard de administración {Astro.locals.user.name}.
      Selecciona una opción para continuar.
    </p>
  </DashboardLayout>
</AdminLayout>
