---
// Check if user is authenticated
if (!Astro.locals.session) return Astro.redirect("/login");
if (Astro.locals.user?.role != "admin") {
  return Astro.redirect("/login");
}

// Set headers to prevent indexing
Astro.response.headers.set("X-Robots-Tag", "noindex, nofollow");

// Component Imports
import AdminLayout from "../../layouts/AdminLayout.astro";
import DashboardLayout from "../../layouts/DashboardLayout.astro";

// Database
import { db, Pasteles as PastelesTable } from "astro:db";
const pasteles = await db.select().from(PastelesTable);
---

<AdminLayout>
  <DashboardLayout page="Pasteles">
    <table class="text-xs">
      <thead class="border-b border-light border-opacity-50 text-left">
        <th class="px-4 py-2 font-medium">Nombre</th>
        <th class="px-4 py-2 font-medium">Descripción</th>
        <th class="w-1/12 px-4 py-2 font-medium">Anytime</th>
      </thead>
      <tbody>
        {
          pasteles.map((pastel) => (
            <tr class="border-b border-light border-opacity-15">
              <td class="px-4 py-2 font-medium">{pastel.name}</td>
              <td class="px-4 py-2">{pastel.description}</td>
              <td class="px-4 py-2">{pastel.anytime ? "Si" : "No"}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </DashboardLayout>
</AdminLayout>
